<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<string>Wiki Link</string>
	<key>Extension Identifier</key>
	<string>com.andyguzman.popclip.extension.wikilink</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>wikilink.png</string>
			<key>Shell Script File</key>
			<string>wikilink.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/python</string>
			<key>Title</key>
			<string>ABC</string>
			<key>After</key>
			<string>paste-result</string>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
